body {
  font-family: 'Titillium Web', sans-serif;
}

.bg-blue {
  background-color: #336699;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section h2 {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

section h2::after {
  content: ' ';
  display: block;
  width: 80px;
  height: 4px;
  margin: 15px auto;
  background-color: #000;
  opacity: 0.2;
}

section > .container > p {
  text-align: center;
  color: #ffffff;
  padding-bottom: 50px;
}

.form-control,
.form-control:focus {
  background-color: #263971;
  color: #ffffff;
  padding: 12px 25px;
  border: 1px solid transparent;
  box-shadow: none;
}

.form-control::placeholder {
  color: #ffffff;
}

.btn-webforce {
  background-color: #30bae8;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 60px;
  border-bottom: 3px solid #289fc7;
  transition: 0.5s;
}

.btn-webforce:hover {
  transform: translateY(3px);
  margin-top: 3px;
  border-bottom: 0px solid transparent;
}
